@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vw;
}
a, input, select, button{
  cursor: pointer;
}
#logout{
  top: 0;
  right: 0;
  margin: .5vw;
  position: absolute;
  /* width: 100%; */
  padding-top: .75vw;
  padding-bottom: .75vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: #F8A619;
  color: white;
  border-radius: 1.25vw;
  border: none;
  cursor: pointer;
}
#title{
  font-family: "Delicious Handrawn", serif;
}
.dashboard {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .filters {
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }
  
  .breed-select {
    width: 15vw;
    padding: .25vw;
  }
  
  .sort-select {
    margin-left: 1vw;
    padding: .25vw;
  }
  
  .dog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .dog-card {
    background-color: white;
    border-radius: 1vw;
    padding: 1.5vw;
  }
  .dog-img{
    border: 2px solid #2F0C38;
    border-radius: 1.25vw;
  }
  .dog-name{
    text-align: center;
    margin: .5vw;
    font-size: 1.75vw;
    /* font-family: "Delicious Handrawn", serif; */
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 4vw;
    background: none;
    border-style: none;
    cursor: pointer;

  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .pagination-image{
    width: 3vw;
  }
  
  .fav{
    width: 20vw;
    max-height: 25vw;
    border: 2px solid #F8A619;
  }

  .fav-name{
    color: #F8A619;
    text-align: start;
  }
  #top-fav{
    padding: .25vw;
  }